.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  font-size: 14px;
  line-height: 1.14;
  color: $secondary-text-color;
  background-color: $footer-bg-color;
  letter-spacing: 0.03em;

  text-align: center;

  @media screen and (min-width: 1200px){
    text-align: left;
  }
}

.footer__home-link {
  display: inline-block;
  margin-bottom: 20px;
}

.footer__container {

  
  @media screen and (min-width: 768px) {
    display: flex;
  }
  
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.footer__address-wrapper {
 

  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
   
  @media screen and (min-width: 1120px) {
    margin-right: 70px;
  }
}

.footer__social-wrapper {
  
  @media screen and (min-width: 1120px) {
    margin-right: auto;
  }
}

.addresses__list {
  @extend %list;
}

.addresses__link {
  @extend %link;
  font-style: normal;
}

.addresses__item {
  &:not(:first-child) {
    color: rgba(255, 255, 255, 0.6);
  }

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.social-wrapper {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
   padding-top: 5px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 12px;;
   }
}

.social-wrapper__text,
.subscribe-wrapper__text {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.social-wrapper__link {
  @extend %link;
  color: $secondary-text-color;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-wrapper__icon {
  fill: currentColor;
}

.subscribe-wrapper {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 100%;
    padding-right: 159px;
    padding-left: 159px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 12px;;
   }
}