.header {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
  background-color: $first-bg-color;
}

.header__container,
.header__nav,
.header__nav-links,
.header__contacts {
  @include alignmentFlex($justify: flex-start);
}

.header__nav {
  margin-right: auto;

  color: $title-color;
}

.header__nav-links,
.header__contacts {
  @extend %list;
}

.header__home-link {
  margin-right: 93px;
  padding-top: 25px;
  padding-bottom: 24px;
}

.header__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.header__link {
  @extend %link;

  &:not(.home-link) {
    @include alignmentFlex();

    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header__icon {
  margin-right: 10px;

  fill: currentColor;
  transition: fill $transition-duration-timing;
}

.header__link {
  &--current {
    color: $accent-color;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 0;

      display: block;
      width: 100%;
      min-height: 4px;

      background-color: $accent-color;
      border-radius: 2px;
    }
  }
}
