.contacts-list {
    margin-left: auto;
}

.contacts-list__item {
    &:not(:last-child) {
        @media screen and (max-width: 1199px) {
            margin-bottom: 10px;
        }
    }
}
.contacts-list__link {
    @extend %link;
    display: flex;
    align-items: center;

    @media screen and (max-width: 1199px) {
        .contacts-list__item:first-child & {
            padding-top: 21px;
        }
    
        .contacts-list__item:last-child & {
            padding-bottom: 21px;
        }
    }
}
.contacts-list__icon {
    margin-right: 8px;
    fill: currentColor;
}