.header {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
  background-color: $first-bg-color;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-toggle {
  border: none;
  background-color: transparent;
  
    @media screen and (min-width: 768px) {
      display: none;
    }
}

.header__nav-links,
.header__contacts {
  @media screen and (max-width: 767px) {
    display: none;
  }
}