.home-link {
  @extend %link;
  color: $accent-color;
  font-family: $logo-font;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  padding-top: 16px;
  padding-bottom: 16px;
}

.home-link__label {
  &--dark {
    color: $third-text-color;
  }

  &--light {
    color: $secondary-text-color;
  }
}

.header__home-link {
  display: inline-block;
}