.subscribe-form {
  // display: flex;
  // text-align: center;
}

.subscribe-form__input {
  padding: 15px 16px;
  // margin-right: 12px;
  min-width: 100%;

  color: $secondary-text-color;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  transition: outline $transition-duration-timing;
  transition: border-color $transition-duration-timing;

  &:hover {
    outline: 1px solid $first-bg-color;
    border-color: $first-bg-color;
    cursor: pointer;
  }

  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }
}

.subscribe-form__button {
  @extend %button;
  @extend %button--accent;
  

  // align-self: flex-end;

  @media screen and (max-width: 1199px) {
    margin-right: auto;
    margin-left: auto;
  }
}

.button__label {
  margin-right: 10px;
}

.button__icon {
  max-width: 24px;
  max-height: 24px;

  fill: currentColor;
}
