body {
  color: $main-text-color;
  background-color: $body-color;
  font-family: $main-font;
}

.main-content {
  background-color: $first-bg-color;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.no-scroll {
  overflow: hidden;
}