.clients-list {
  @extend %list;
  display: flex;
  justify-content: space-between;
}

.clients-list__link {
  @extend %link;
  display: inline-flex;
  padding: 16px 32px;
  max-width: 170px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  color: $social-icon-color;

  transition: border-color $transition-duration-timing;

  &:is(:hover, :focus) {
    color: $accent-color;
    border-color: $accent-color;
  }
}

.clients-list__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;

  transition: fill transition-duration-timing;
}
