.portfolio {
  padding-top: 0;

  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.portfolio-list {
  @extend %list;
  display: flex;
  justify-content: space-between;
}

.portfolio-list__item {
  position: relative;
}

.portfolio-list__text {
  position: absolute;
  left: 0;
  bottom: 0;

  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;

  color: $secondary-text-color;
  background: rgba(47, 48, 58, 0.8);
}
