.qualities {
  letter-spacing: 0.03em;
}

.qualitis__title {
  @extend %hidden;
}

.qualities-list {
  @extend %list;
  display: flex;
  justify-content: space-between;
}

.qualities-list__item {
  flex-basis: calc((100% - 90px) / 4);
}

.qualities-list__title {
  margin-bottom: 10px;
  text-transform: uppercase;

  font-weight: 700;
  line-height: 1.14;
}

.qualities-list__text {
  line-height: 1.71;
}

.qualities-list__title,
.qualities-list__text {
  font-size: 14px;
}

.qualities-list__wrapper {
  @include alignmentFlex();
  min-height: 120px;
  margin-bottom: 30px;
  background-color: $second-bg-color;
  border-radius: 4px;
}
