.works__title {
  @extend %hidden;
}

.filter-list {
  @extend %list;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 8px;

  margin-bottom: 40px;
}

// .filter-list__item {
//   &:not(:last-child) {
//     margin-right: 8px;
//   }
// }

.filter-list__button {
  @extend %button;
  padding: 6px 22px;
  min-width: 73px;

  color: $title-color;
  background-color: $second-bg-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;

  transition: background-color $transition-duration-timing, box-shadow $transition-duration-timing,
    color $transition-duration-timing;

  &:is(:hover, :focus) {
    color: $secondary-text-color;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.works-list {
  @extend %list;

  // display: flex;
  // flex-wrap: wrap;
  // gap: 30px;
}

.works-list__item {
  // flex-basis: calc((100% - 60px) / 3);

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
}
